@import '../styles/shared.scss';

.modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7) !important;
  bottom: 0;
  display: flex !important;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;

  & &__header {
    display: flex;
    justify-content: space-between;
  }

  & &__title {
    @include font-fira-sans($size: 25px, $weight: bold);
    padding: 10px 0;
  }

  & &__button {
    &--close {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 30px;
    }
  }

  & &__content {
    background-color: #fff;
    max-height: 100vh;
    overflow: auto;
    padding: 20px 40px 40px;
    width: 60%;

    &--statistics {
      height: 100%;
    }
  }
}

@media (max-width: $sm) {
  .modal {
    & &__content {
      padding: 20px;
      width: 100%;
    }
  }
}
