body
{
    background-color: black;
}
.wrapper
{
    width: 500px;
    margin: 0 auto;

    border: 2px dotted white;
    background-color: lightgrey;
}
/*do startowania */
.btn-blue
{
    font: bold 20px Arial;

    display: block;

    box-sizing: border-box;
    width: 200px;
    height: 70px;
    margin: 20px auto 20px;
    padding: 10px 20px;

    cursor: pointer;

    color: white;
    border: 0;
    background-color: cornflowerblue;

}
.btn-blue:hover {

}

.btn-red
{
    font: bold 20px Arial;

    display: block;

    box-sizing: border-box;
    width: 200px;
    height: 70px;
    margin: 0 auto;
    padding: 10px 20px;

    cursor: pointer;

    color: white;
    border: 0;
    background-color: salmon;
}
.display
{
    font: bold 20px Arial;

    text-align: center;

    color: white;
}
.pomodoros
{
    font: 20px Arial;

    position: absolute;

    padding: 20px;

    color: white;
}
