@import './../../shared/styles/shared.scss';

.stats {
  @include font-fira-sans($size: 15px, $colour: $text-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: $page-width;
  padding: 20px 0;
  text-align: center;

  & &__today-result {
    margin-bottom: 20px;
  }
}

.navigation {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  min-width: 200px;

  & &__button {
    @include button($bgColor: $button-bg, $color: $text-primary);
    padding: 5px 5px;
    width: 50%;
  }
}

.table {
  margin: 20px auto;
  max-width: 600px;
  table-layout: fixed;
  width: 100%;

  & &__head {
    border-bottom: 1px dashed white;
  }
}
