@import "../../shared/styles/mixins/mixins.scss";

.timer {
  background-color: $Beijing-3-hex;
  display: grid;
  padding: 20px;
  margin: 0 auto;
  max-width: 900px;

  & &__button-wrapper {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
  }
}

.timer {
  & &__button {
    @include button($color: $text-primary, $bgColor: $button-bg);

    &--stop {
      margin: 0 auto;
    }
  }
}
