@import '../../shared/styles/shared.scss';

.button-wrapper {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
}

@media (max-width: $xs) {
  .timer {
    & &__button-wrapper {
      align-items: center;
      flex-direction: column;
    }
  }
}
