@import "../../shared/styles/shared.scss";

.timer {
  background-color: $bg-accent;
  display: grid;
  margin: 0 auto;
  max-width: $page-width;
  padding-top: 30px;

  & &__button-wrapper {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }

  & &__button {
    @include button($color: $text-primary, $bgColor: $button-bg);

    &--stop {
      margin: 0 auto;
      padding: 15px 30px;
    }
  }
}

@media (max-width: $xs) {
  .timer {
    & &__button-wrapper {
      align-items: center;
      flex-direction: column;
    }

    & &__button {
      margin-bottom: 10px;
      width: calc(100% - 20px);
    }
  }
}
