@import "../../shared/styles/shared.scss";

.timer {
  background-color: $bg-accent;
  display: grid;
  padding: 30px;
  margin: 0 auto;
  max-width: 900px;

  & &__button-wrapper {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
  }
}

.timer {
  & &__button {
    @include button($color: $text-primary, $bgColor: $button-bg);

    &--stop {
      margin: 0 auto;
      padding: 15px 30px;
    }
  }
}
