@import '../../shared/styles/shared.scss';

body {
  @include font-fira-sans($size: 18px);
  background-color: $bg-primary;
  line-height: 1.5;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

.app {
  height: 100vh;
}
