@import "./../../../shared/styles/mixins/mixins.scss";

.info {
  @include font-fira-sans($colour: white, $size: 18px);
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  max-width: 100%;
  padding: 10px 20px;
}
