@import "../../../shared/styles/shared.scss";

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.7) !important;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.modal {
  & &__header {
    height: 25px;
    margin-bottom: 10px;
  }

  & &__button {
    &--close {
      background: none;
      border: none;
      cursor: pointer;
      float: right;
      font-size: 30px;
      margin-right: -20px;
      margin-top: -20px;
      padding: 15px;
    }
  }
}
