@import 'shared/styles/shared.scss';

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: $page-width;
  padding: 20px 0;
  text-align: center;

  & &__today-result {
    margin-bottom: 20px;
  }
}

.navigation {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  min-width: 200px;
}
