@mixin button($color: false, $bgColor: false, $size: 14px, $border: none) {
  background-color: $bgColor;
  border: $border;
  color: $color;
  cursor: pointer;
  font-size: $size;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;

  &:disabled {
    background-color: grey;
    cursor: not-allowed;
  }
}
