@mixin grid-form {
  .form {
    & &__row {
      display: grid;
      grid-template-areas: 'label input' 'validation validation';
      grid-template-columns: 1fr 2fr;
      margin-bottom: 15px;
    }

    & &__button {
      @include button($color: $text-secondary, $bgColor: $button-bg);
    }
  }

  .label {
    grid-area: label;
  }

  .input {
    grid-area: input;
    max-height: 33px;
  }

  .validation {
    grid-area: validation;
  }

  @media (max-width: $sm) {
    .form {
      & &__row {
        display: grid;
        grid-template-areas: 'label' 'input' 'validation';
        grid-template-columns: 1fr;
        margin-bottom: 15px;
        width: 100%;
      }
    }
  }
}
