.table {
  margin: 20px auto;
  max-width: 600px;
  table-layout: fixed;

  & &__head--day {
    display: flex;
    justify-content: space-around;
  }

  thead th {
    vertical-align: middle;
  }
}

.caption {
  caption-side: top;

  & &__header {
    display: inline-flex;
    font-size: 18px;
    margin-right: 20px;
  }
}
