@import "../../../shared/styles/shared.scss";

.form {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 75%;

  & &__row {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15px;
    width: 100%;
  }

  & &__button {
    @include button($color: $text-secondary, $bgColor: $button-bg);
  }
}
