@import "../../shared/styles/shared.scss";

.form {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  max-width: 75%;

  & &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 100%;
  }
}
