@mixin button($color: false, $bgColor: false) {
  border: none;
  background-color: $bgColor;
  color: $color;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;

  &--dimmed {
    background-color: darken($color: $bgColor, $amount: 0.5);
  }
}
