@import "../../shared/styles/mixins/mixins.scss";

.timer {
  background-color: $Beijing-3-hex;
  display: grid;
  padding: 20px;
  margin: 0 auto;
  max-width: 900px;

  & &__button-wrapper {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
  }
}

.timer__button {
  @include button($color: $text-primary, $bgColor: $button-bg);
  color: $text-primary;

  &--stop {
    margin: 0 auto;
  }
}

.time {
  @include font-fira-sans($size: 70px);
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 300px;
}
