@import "../../../shared/styles/shared.scss";
.loader {
  @include small-bar;

  background: linear-gradient(
    135deg,
    $bg-primary 25%,
    $bg-accent 25%,
    $bg-accent 50%,
    $bg-primary 50%,
    $bg-primary 75%,
    $bg-accent 75%
  );

  background-size: 50px 50px;
  animation: bar-animation 3s linear infinite;
  -webkit-animation: bar-animation 3s linear infinite;
}

@keyframes bar-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
