@import 'src/shared/styles/shared';

.header {
  display: flex;
  height: 50px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 900px;

  & &__title {
    @include font-fira-sans($colour: $button-bg, $size: 20px);
    align-items: center;
    display: flex;
  }

  & &__buttons-wrapper {
    align-items: center;
    display: flex;
  }
}

.button {
  @include button($color: white, $bgColor: transparent);
}

@media (max-width: $sm) {
  .header {
    padding-left: 10px;
  }
}

@media (max-width: $xs) {
  .button {
    font-size: 12px;
  }
}
