@import "src/shared/styles/shared";

.header {
  display: flex;
  height: 50px;
  justify-content: space-between;
  margin: 10px auto 0;
  max-width: $page-width;

  & &__title {
    @include font-fira-sans($colour: $button-bg, $size: 20px);
  }
}

.button {
  @include button($color: white, $bgColor: transparent);
}
