@import "src/shared/styles/shared";

.header {
  display: flex;
  height: 50px;
  justify-content: space-between;
  margin: auto 0;
  max-width: $page-width;

  & &__title {
    @include font-fira-sans($colour: $button-bg, $size: 20px);
    align-items: center;
    display: flex;
    margin-left: 20px;
  }

  & &__buttons-wrapper {
    display: flex;
  }
}

.button {
  @include button($color: white, $bgColor: transparent);
}

@media (max-width: $xs) {
  .button {
    font-size: 12px;
  }
}
